@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,500;1,300;1,700;1,800;1,900&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
}
